services:
  hbbs:
    container_name: hbbs
    image: rustdesk/rustdesk-server:{{ rustdesk_version }}
    command: hbbs -r {{ rustdesk_relay_host }}:21117 -k _
    volumes:
      - ./data:/root
    network_mode: host
    restart: always
    depends_on:
      - hbbr

  hbbr:
    container_name: hbbr
    image: rustdesk/rustdesk-server:{{ rustdesk_version }}
    command: hbbr -k _
    volumes:
      - ./data:/root
    network_mode: host
    restart: always
